# TASK #1: UNDERSTAND VARIABLES ASSIGNMENT

In [3]:
# Define a variable named "x" and assign a number (integer) to it
# integer is a whole number (no decimals) that could be positive or negative

x = 200

In [4]:
# Let's view "x"
x

200

In [5]:
# Define a variable named "y" and assign a number (float) to it
# Float are real numbers with a decimal point dividing the integer and fractional parts
y= 50.5

In [6]:
# Let's view "y"
y

50.5

In [7]:
# Let's overwrite "y" (assume your portfolio value increased)
y= 300.5

In [8]:
# Notice that "y" will only contain the most recent value
y

300.5

In [9]:
# Get the type of "x" which is integer
# integer is a whole number (no decimals) that could be positive or negative
type(x)

int

In [10]:
# Get the type of "y" which is float
# Float are real numbers with a decimal point dividing the integer and fractional parts
type(y)

float

MINI CHALLENGE #1:

We defined a variable x and we assigned these 4 values listed below to it. Without executing any code cells, what will these lines of code generate?

Verify your answer by executing the code cells

z = 1000

z = 2000

z = 5000

z = 6000

z

In [11]:
x = 1000
x = 2000
x = 5000
x = 6000
x

6000

# TASK #2: PERFORM MATH OPERATIONS IN PYTHON

In [12]:
# Define a variable named i and initialize it with 20 
# Let's assume that we want to increment the value by 4 
i=20
i = i + 4
i

24

In [13]:
# Let's assume that you own a little grocery store 
# The price of 1 bottle of milk is $3 and we currently have 50 bottles
# We can calculate the total dollar value of our inventory as follows:
price_per_bottle = 3
number_of_bottles = 50  
total_value = price_per_bottle * number_of_bottles
total_value

150

In [14]:
# Let's assume you have $550 USD in our bank account
# We want to buy x number of IBM stocks using the total amount 
# each IBM stock is priced at $128 each
account_balance = 550
ibm_stock_price = 128
number_of_ibm_stocks = account_balance / ibm_stock_price
number_of_ibm_stocks

4.296875

In [15]:
# Divide the account balance by Amazon stock price and place the answer in units

number_of_amazon_stocks = account_balance / 3340
number_of_amazon_stocks

0.16467065868263472

MINI CHALLENGE #2:

Write a code that takes in APPLE (AAPL) stock prices at two days and calculate the return:

AAPL price on day 1 = $135

AAPL price on day 2 = $150

In [16]:
Apple_d1 = 135
Apple_d2 = 150

Apple_return_perc = (Apple_d2 - Apple_d1) / Apple_d1 * 100
Apple_return_perc

11.11111111111111

# TASK #3: UNDERSTAND PRINT AND INPUT OPERATIONS

In [17]:
# Print function is used to print elements on the screen
# Define a string x 
# A string in Python is a sequence of characters
# String in python are surrounded by single or double quotation marks

x = "Welcoem to Ruan's guided project in Python"
print(x)

Welcoem to Ruan's guided project in Python

In [18]:
# Obtain the data type for 'x'
type(x)

str

In [19]:
# The format() method formats the specified value and insert it in the placeholder
# The placeholder is defined using curly braces: {}
company_name = 'Amazon'
shares = 400

print("I own {} shares of {}".format(shares, company_name))

I own 400 shares of Amazon

In [33]:
# input is a built-in function in python
# Obtain client data such as name, country and e-mail and print them all out on the screen
name = input('Welcome to the store please enter your name: ')
country = input('Please enter your country: ')
email = input('Please enter your email: ')

print("Client Name:", name)
print("Country:", country)
print("Email:", email)

Client Name: Ruan Kapp
Country: South Africa
Email: ruan.test.co.za

MINI CHALLENGE #3:

Write a code that takes in the name of the stock, price at which it is selling, the number of stocks that you want to own and prints out the total funds required to buy this stock. Find a sample expected output below:

Enter the price of the stock you want to buy: 3000

Enter the number of stocks that you want to buy: 5

Enter the name of the stock that you want to buy: AMZN

The total funds required to buy 5 number of AMZN stocks at 3000 is: 15000

In [36]:
#Write a code that takes in the name of the stock, price at which it is selling, the number of stocks that you want to own and prints out the total funds required to buy this stock
stock_name = input('Enter the name of the stock: ')
stock_price = float(input('Enter the price of the stock: '))
number_of_stocks = int(input('Enter the number of stocks you want to buy: '))
total_funds_required = stock_price * number_of_stocks
print("Total funds required to buy {} stocks of {} at ${} each is: ${}".format(number_of_stocks, stock_name, stock_price, total_funds_required))

Total funds required to buy 5 stocks of AMZN at $3000.0 each is: $15000.0

# TASK #4: UNDERSTAND LISTS DATA TYPES

In [ ]:
# A list is a collection which is ordered and changeable. 
# List allows duplicate members.
grocery_list = ['oranges', 'apples', 'bananas']
grocery_list

['oranges', 'apples', 'bananas']

In [39]:
# Obtain the datatype
type(grocery_list)

list

In [42]:
# Access specific elements in the list with Indexing
# Note that the first element in the list has an index of 0 (little confusing but you'll get used to it!)
grocery_list[0]  # Access the first element

'oranges'

MINI CHALLENGE #4:

Print the first, second and last element in the list below

grocery_list = ['milk', 'rice', 'eggs', 'bread', 'oranges', 'water']

In [45]:
#Print the first, second and last element in the list below

grocery_list = ['milk', 'rice', 'eggs', 'bread', 'oranges', 'water']
grocery_list[0]  # First element
grocery_list[1]  # Second element
grocery_list[-1] # Last element

'water'

# TASK #5: UNDERSTAND COMPARISON OPERATORS AND CONDITIONAL STATEMENTS

In [ ]:
# Comparison Operator output could be "True" or "False"
# Let's cover equal '==' comparison operator first
# It's simply a question: "Is x equals y or not?"
# "True" output means condition is satisfied 
# "False" output means Condition is not satisfied (condition is not true) 

x = 100
y = 200
x == y  # Is x equals y?  

# Note that '==' is a comparison operator 
# Note that '=' is used for variable assignment (put 10 in x)

False

In [47]:
# Greater than or equal operator '>='
x >= y  # Is x greater than or equal to y?

False

- A simple if-else statement is written in Python as follows:

```
if condition:
  statement #1
else:
  statement #2
```

- If the condition is true, execute the first indented statement
- if the condition is not true, then execute the else indented statements. 
- Note that Python uses indentation (whitespace) to indicate code sections and scope.

In [48]:
# Let's take an input from the user and grant or deny access accordingly
user_name = input('Enter your user name: ')
password = input('Enter your password: ')  
if user_name == 'admin' and password == 'password123':
    print("Access Granted")
else:
    print("Access Denied")

Access Granted

MINI CHALLENGE #5:

Write a code that takes a number from the user and indicates if it's positive or negative

In [50]:
#Write a code that takes a number from the user and indicates if it's positive or negative
# --- IGNORE ---        
number = float(input("Enter a number: "))
if number >= 0:
    print("The number is positive.")
else:
    print("The number is negative.")

The number is negative.

# TASK #6: DEVELOP FUNCTIONS IN PYTHON

In [51]:
# Define a function that takes in two argument x and y and returns their multiplication 
def multiply(x, y):
    return x * y

In [52]:
# Call the function
result = multiply(10, 5)
result

50

# TASK #7: UNDERSTAND FOR AND WHILE LOOPS

In [5]:
# List of strings
grocery_list = ['milk', 'rice', 'eggs', 'bread', 'oranges', 'water']
grocery_list

['milk', 'rice', 'eggs', 'bread', 'oranges', 'water']

In [6]:
for items in grocery_list:
    print(items)

milk
rice
eggs
bread
oranges
water

In [7]:
# Range() generates a list of numbers, which is used to iterate over with for loops.
# range() is 0-index based, meaning list indexes start at 0, not 1. 
# The last integer generated by range() is up to, but not including, last element. 
# Example: range(0, 7) generates integers from 0 up to, but not including, 7.

for i in range(0, 7):
    print(i)

0
1
2
3
4
5
6

In [8]:
# While loop can be used to execute a set of statements as long as a certain condition holds true.
count = 0
while count < 5:
    print("The count is:", count)
    count += 1  # This is equivalent to count = count + 1

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4

MINI CHALLENGE #7:

Write a code that displays numbers from 1 to 10 using for and while loops

In [9]:
# Write a code that displays numbers from 1 to 10 using for and while loops
# --- IGNORE ---   
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10